{% extends 'base.html.twig' %}

{% block title %}
	Mon compte
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	Bienvenu
	{{app.user.firstName}}
	- Vous pourrez gérer toutes vos informations personnelles dans cet espace.
	<br>

	{% if (is_granted("ROLE_ADMIN")) %}
		<a href="{{ path('app_admin') }}">Accéder au backoffice</a>
	{% endif %}


	<a href="{{path('app_account_password')}}">Modifier mon mot de passe</a>

	<br>
	-
	<a href="{{path('app_account_address')}}">Gérer mes adresses</a>


	<br>
	-
	<a href="{{path('app_account_order')}}">Mes commandes</a>

	<br>
{% endblock %}
